<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title</title>
    <link rel="stylesheet" href="recipes.css">
</head>
<body class="light">
    <button id="theme-toggle" aria-label="Toggle dark mode"></button>
    <h2>$title</h2>
    <div class="tags-container">
        $tags
    </div> 
    <article class="two-col">
        <div class="stats">
            <em>Serves:</em> $servings
            <em>Time:</em> $time
        </div>
        <section class="ingredients">
            <h3>Ingredients</h3>
            <ul>
                $ingredients
            </ul>
        </section>
        <section class="steps">
            <h3>Steps</h3>
            <ol>
                $steps
            </ol>
        </section>
    </article>
    <script src="script.js"></script>
</body>
</html>
